---

- name: installation des paquets mariadb
  yum:
   name: 
    - mariadb
    - mariadb-server
   state: present

- name: redémarrage du service mariadb
  systemd:
    name: mariadb
    enabled: yes
    state: restarted

- name: Installation sécurisée Mysql
  command: 'echo "& y y Mypasswd Mypasswd y y y y" | ./usr/bin/mysql_secure_installation'

- name: enable systemd mariadb service
  systemd:
    name: mariadb
    enabled: yes
    state: enabled


# tasks file for mariadb
